<!doctype html>
<html class="h-100">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - LedWeb</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/favicons/manifest.webmanifest">
    <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#000000">
    <link rel="shortcut icon" href="/static/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-config" content="/static/favicons/browserconfig.xml">
    <meta name="theme-color" content="#000000">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/custom.css') }}">
    {% block meta %}{% endblock %}
</head>

<body class="d-flex flex-column h-100 bg-ndark">
<nav class="navbar navbar-expand-lg navbar-dark bg-ndarker">
    <a href="{{ url_for('home') }}"><img id="navbar-image" class="mr-3"
                                         src="{{ url_for('static', filename = 'img/logo_lanlight_white.svg') }}" alt=""></a>
    <a class="navbar-brand d-flex flex-column align-self-start align-items-start mr-auto" href="{{ url_for('home') }}">
        <div>LedWeb</div>
        <span class="navbar-slogan"></span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ml-lg-3" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}">Home</a>
            </li>
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('add_effect') }}">Effekt hinzufügen</a>
                </li>
            {% endif %}
        </ul>

        <ul class="navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <span class="navbar-text">Eingeloggt als {{ current_user.email }}</span>
                </li>
            {% endif %}
            <li class="nav-item">
                {% if not current_user.is_authenticated %}
                    <a class="nav-link" href="{{ url_for('security.login', next=request.path) }}">Login</a>
                {% else %}
                    <a class="nav-link" href="{{ url_for('security.logout', next=request.path) }}">Logout</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>
<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
    <div class="container text-light">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message[0] }} alert-dismissible fade show" role="alert">
                        {{ message[1] }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</main>

<footer class="footer bg-ndarker mt-auto py-3 text-light">
    <div class="container">
        <div class="row">
            <div class="col">
                Version 0.1
            </div>
            <div class="col text-right">
                <a href="https://gitlab.com/PhJu/ledweb"><i data-feather="gitlab"></i> Source</a>
            </div>
        {% block footer %}{% endblock %}
        </div>
    </div>
</footer>
{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/libs/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/libs/bootstrap.bundle.min.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/libs/feather.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/script.js') }}" defer></script>
    <script>
        feather.replace({'stroke-width': 2});
    </script>
{% endblock %}
</body>
</html>
