{% extends 'layouts/main.html' %}
{% block title %}Login{% endblock %}
{% block content %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% from "macros/custom_macros.html" import render_field_errors_bootstrap, render_field_bootstrap %}

    <div class="row mb-3">
        <div class="page-header col-lg-8">
            <h1>{{ _('Login') }}</h1>
        </div>
    </div>

<form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
  {{ login_user_form.hidden_tag() }}
    <div class="card bg-transparent border-light mb-3">
        <div class="card-body form-group mb-0">
          {{ render_field_errors_bootstrap(login_user_form.email) }}
          {{ render_field_errors_bootstrap(login_user_form.password) }}
          {{ render_field_errors_bootstrap(login_user_form.remember) }}

            <div class="row">
                  <div class="col-md-12">
                  {{ render_field_bootstrap(login_user_form.next, class_="btn brn-lg btn-success btn-block") }}
                  {{ render_field_bootstrap(login_user_form.submit, class_="btn brn-lg btn-success btn-block") }}
                  </div>
          </div>
      </div>
  </div>
</form>
</div>
{% include "security/_menu.html" %}
{% endblock %}