{% extends 'layouts/main.html' %}

{% block meta %}
    {{ super() }}
    <meta id="effect_running" data-url="{{ url_for('effect_running') }}">
{% endblock %}

{% block title %}{{ effect.name }}{% endblock %}
{% block content %}

    <div class="row mb-3">
        <div class="page-header col-auto mr-auto">
            <h1>{{ effect["name"] }} {% if effect.independent %}<span class="pop_tooltip" title="Unabhängig"><i data-feather="zap" width="40" height="40"></i></span>{% endif %}</h1>
        </div>
        {% if current_user.is_authenticated %}
            <div class="col-auto">
                <a class="btn btn-lg btn-outline-primary btn-block"
                   href="{{ url_for('edit_effect', effect_id=effect.id) }}">
                    <i data-feather="settings" width="28" height="28"></i>
                </a>
            </div>
        {% endif %}
        <div class="col-auto">
            <button id="effect_restart" class="btn btn-lg btn-outline-warning btn-block pop_tooltip"
                    type="button" disabled title="Effekt neustarten"
                    onClick="submitEffectPlay('{{ url_for('effect_play', effect_id=effect.id) }}', id, restart=true)"
                    data-effectid="{{ effect.id }}"><i data-feather="rotate-ccw"></i>
            </button>
        </div>
        <div class="col-sm-3">
            <button id="effect_{{ effect.id }}_status" class="btn btn-lg btn-outline-warning btn-block effect_status"
                    type="button" disabled
                    onClick="submitEffectPlay('{{ url_for('effect_play', effect_id=effect.id) }}', id)"
                    data-effectid="{{ effect.id }}"><i data-feather="clock"></i>
            </button>
        </div>
    </div>
    {% if effect.settings|length > 0 %}
        <form class="settings" method="post" role="form">
            {% for setting in effect.settings %}
                <div class="card bg-transparent border-light mb-3">
                    <div class="card-header border-light d-flex">
                        <div class="mr-auto">
                            <div class="setting_label">{{ setting.label }}</div>
                        </div>
                        {% if current_user.is_authenticated %}
                            <div class="ml-auto">
                                <a class="btn btn-outline-primary btn-block"
                                   href="{{ url_for('edit_setting', setting_id=setting.id) }}"><i data-feather="settings"></i></a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <div class="row mb1">
                            {% if setting.control_type == 1 %}
                                <div class="col-md-4">
                                    {{ setting.key }}
                                    <output id="range_{{ setting.id }}_out">{{ setting.value }}</output>
                                </div>
                                <div class="col-md-8">
                                    <input id="range_{{ setting.id }}" name="{{ setting.id }}"
                                           class="form-control-range"
                                           value="{{ setting.value }}" type="range" min="1" max="100" step="1"
                                           oninput="outputUpdate(value, id)">
                                </div>
                            {% elif setting.control_type == 2 %}
                                <div class="col-md-4">
                                    {{ setting.key }}
                                    <output id="color_{{ setting.id }}_out">{{ setting.value }}</output>
                                </div>
                                <div class="col-md-8">
                                    <input class="color_picker" id="color_{{ setting.id }}" value="{{ setting.value }}"
                                           name="{{ setting.id }}"
                                           type="color" oninput="outputUpdate(value, id)">
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="row mb-4">
                <div class="col-md-12">
                    <button id="submit" class="btn btn-lg btn-outline-light btn-block" type="button"
                            onClick="submitForm('{{ url_for('effect_save', effect_id=effect.id) }}', id)">Speichern
                    </button>
                </div>
            </div>
        </form>
    {% endif %}
    {% if current_user.is_authenticated %}
        <div class="row mb-6">
            <div class="col-md-12">
                <a id="add_setting" class="btn btn-lg btn-outline-primary btn-block" type="button"
                   href="{{ url_for('add_setting', effect_id=effect.id) }}">Einstellungen hinzufügen</a>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/effect_status.js') }}" defer></script>
{% endblock %}
