{% extends 'layouts/main.html' %}
{% block title %}Effekt hinzufügen{% endblock %}
{% block content %}

    <div class="row mb-3">
        <div class="page-header col-sm-8">
            <h1>Effekt hinzufügen</h1>
        </div>
    </div>

    <form method="POST" action=".">
        {{ form.csrf_token }}
        <div class="card bg-transparent border-light mb-3">
            <div class="card-body form-group mb-0">
                <div class="row mb-3">
                    <div class="col-sm-4">
                        {{ form.name.label }}
                    </div>
                    <div class="col-sm-8">
                        {{ form.name(maxlength=40, class="form-control") }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-4">
                        {{ form.description.label }}
                    </div>
                    <div class="col-sm-8">
                        {{ form.description(maxlength=128, class="form-control") }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-4">
                        {{ form.command.label }}
                    </div>
                    <div class="col-sm-8">
                        {{ form.command(maxlength=255, class="form-control") }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-4">
                        {{ form.env.label }}
                    </div>
                    <div class="col-sm-8">
                        {{ form.env(maxlength=255, class="form-control") }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-4">
                        {{ form.independent.label }}
                    </div>
                    <div class="col-sm-8">
                        <label class="switch">
                            {{ form.independent(class="form-control") }}
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn brn-lg btn-outline-success btn-block">Hinzufügen</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}