{% extends 'layouts/main.html' %}

{% block meta %}
    {{ super() }}
    <meta id="effect_running" data-url="{{ url_for('effect_running') }}">
{% endblock %}

{% block title %}Home{% endblock %}
{% block content %}

    <div class="row mb-3">
        <div class="page-header col-sm-8">
            <h1>Verfügbare Effekte</h1>
        </div>
    </div>

    <div class="row">
        {% for effect in effects %}
            <div class="col-lg-4 mb-4">
                <div class="card border-light bg-ndark h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ effect.name }}
                            {% if effect.independent %}<span class="pop_tooltip" title="Unabhängig"><i data-feather="zap" width="20" height="20"></i></span>{% endif %}</h5>
                        <p class="card-text">
                            {{ effect.description }}
                        </p>
                    </div>
                    <div class="card-footer">
                        {% if current_user.is_authenticated %}
                            <a class="btn btn-outline-primary"
                               href="{{ url_for('edit_effect', effect_id=effect.id) }}">
                                <i data-feather="settings"></i>
                            </a>
                        {% endif %}
                        <a class="btn btn-primary" href="{{ url_for('effect_control', effect_id=effect.id) }}">
                            Öffnen <i data-feather="chevron-right"></i>
                        </a>
                        <button id="effect_{{ effect.id }}_status"
                                class="btn btn-outline-warning effect_status effect_status_icon" type="button" disabled
                                onClick="submitEffectPlay('{{ url_for('effect_play', effect_id=effect.id) }}', id)"
                                data-effectid="{{ effect.id }}"><i data-feather="clock"></i>
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if current_user.is_authenticated %}
            <div class="col-lg-4 mb-4 text-center text-primary">
                <a href="{{ url_for('add_effect') }}" class="btn btn-outline-primary d-flex h-100">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <i id="plus-effect" data-feather="plus" width="60" height="60"></i>
                    </div>
                </a>
            </div>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/effect_status.js') }}" defer></script>
{% endblock %}