{% extends 'layouts/main.html' %}
{% block title %}Einstellung bearbeiten{% endblock %}
{% block content %}

    <div class="row mb-3">
        <div class="page-header col-lg-8">
            <h1>Einstellung bearbeiten</h1>
        </div>
    </div>
    
    <form method="POST" action=".">
        {{ form.csrf_token }}
        <div class="card bg-transparent border-light mb-3">
            <div class="card-body form-group mb-0">
                <div class="row mb-3">
                    <div class="col-sm-4">
                        {{ form.label.label }}
                    </div>
                    <div class="col-sm-8">
                        {{ form.label(maxlength=40, class="form-control") }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-4">
                        {{ form.control_type.label }}
                    </div>
                    <div class="col-sm-8">
                        {{ form.control_type(class="form-control") }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-4">
                        {{ form.key.label }} 
                    </div>
                    <div class="col-sm-8">
                        {{ form.key(maxlength=20, class="form-control") }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <button type="submit" class="btn brn-lg btn-outline-success btn-block">Speichern</button>
                    </div>
                    <div class="col-sm-6">
                        <a class="btn brn-lg btn-outline-danger btn-block" href="{{ url_for('delete_setting', setting_id=setting_id) }}">Löschen</a>
                    </div>
                </div>
            </div>
        </div>
    </form>

    
{% endblock %}