* {
    font-family: sans-serif;
}

.bg-ndark {
    background-color: #1D2429 !important;
}
.bg-ndarker {
    background-color: #161819 !important;
}

a.bg-darker:hover, a.bg-darker:focus,
button.bg-darker:hover,
button.bg-darker:focus {
    background-color: #000 !important;
}

.navbar-brand {
    font-size: 2rem;
    line-height: normal;
}

#navbar-image {
    height: 4rem;
}

main > .container {
    padding: 30px 15px 0;
}

input, select {
    width: inherit;
}

#plus-effect {
    font-size: 2.5rem;
}

.navbar-slogan {
    font-size: 0.8rem;
}

.setting_label {
    font-size: 1.75rem;
}

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #6c757d;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #007bff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #007bff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}