{% macro render_field_errors_bootstrap(field) %}
  <p>
    <div class="row mb-3">
        <div class="col-sm-4">
            {{ field.label }}
        </div>
        <div class="col-sm-8">
            {{ field(**kwargs)|safe }}
        {% if field.errors %}
          <ul>
          {% for error in field.errors %}
            <li>{{ error }}</li>
          {% endfor %}
          </ul>
        {% endif %}
        </div>  
    </div>
  </p>
{% endmacro %}

{% macro render_field_bootstrap(field) %}
  {{ field(**kwargs)|safe }}
{% endmacro %}